@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Willkommen</h1>
    <p>Sie können sich hier als Kunde, Verkäufer oder Treuhänder registrieren und die Vorteile des sicheren Einkaufens genießen.</p>
    <p>Als Kunde können Sie Ihre Waren einfach bei einem Treuhänder Ihrer Wahl abholen und bezahlen, während Sie als Treuhänder zusätzlich Geld verdienen können, wenn Sie Waren für Kunden zwischenlagern oder die Endlieferung übernehmen.</p>
    <p>Wenn Sie sich als Verkäufer registieren, erhalten Sie hingegen die Sicherheit, dass Ihre Waren sicher ankommen, die Bezahlung reibungslos funktioniert und Sie neue Kunden erreichen können.</p>
</div>
